@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$Dark-primary: #111111;;
$Dark-secundary:  #151515;
$Dark-terceary:  #898989;
$Dark-complementary: #DEB13C;
$Dark-special: #333333;

$Blanco: #FFFFFF;
$Grey: #1D1D1D;

$Azul: #577CBD;


$Color-primary: $Dark-primary;
$Color-secundary: $Dark-secundary;
$Color-terceary:  $Dark-terceary;
$Color-complementary: $Dark-complementary;
$Color-special: $Dark-special;
$Color-border: $Grey;

$Color-font: $Blanco;
$Color-link: $Azul;


$Lato:  "Lato", sans-serif;



