.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 85%;

    .titles{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 4rem 0 3rem 0;
        .iconos{
            display: flex;
            justify-content: end;
            a{
                margin-left: 3rem;
                font-size: 3rem;
                color: $Color-complementary;
            }
        }
    }

    .info-grid{
        width: 100%;
        height: 75vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.7rem;
        
        .info{
            background-color: $Color-primary;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid $Color-border;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            span{
                color: $Color-complementary;
            }

            &:nth-child(3){
                grid-row: 1/3;
                grid-column: 3/5;
                .base3 {
                    margin: 2rem;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .boutMe{
                        margin: 0rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            width: 120px;
                            border-radius: 60px;
                            border: 3px solid $Color-border;
                            background-color: $Color-complementary;
                        }
                        h2{
                            font-size: 2.5rem;
                            font-weight: 400;
                        }
                    }
                }
            }

            &:nth-child(6){
                grid-column: 1/3;
                grid-row: 3/4;
            }
            &:nth-child(7){
                grid-row: 3/4;
                grid-column: 3/5;
            }
        }

        .text-based{

            text-align: center;
            h2{
                font-size: 2.5rem;
                font-weight: 400;
            }
            p{

                font-weight: 400;
                font-size: 1.4rem;
                color: $Color-terceary;
            }
        }

        .number-based{
            text-align: center;
            h2 {
                font-size: 5rem;
                font-weight: 400;
            }
            p{
                font-weight: 400;
                font-size: 1.4rem;
            }
        }

        .cont{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            .tools-cont{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                box-sizing: border-box;
                position: relative;
                overflow: hidden;
                .title {
                    box-sizing: border-box;
                    width: 10%;
                    height: 100%;
                    background-color: $Color-terceary;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    overflow: hidden;
                    overflow-y: hidden;
                    padding: 1.2rem 0;
                    i{
                        margin: 0.2rem;
                    }
                    h2{
                        font-size: 1.4rem;
                    }   
                }
                
                .tools{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(2, 1fr);
                    align-items: center;
                    justify-items: center;
                    
                    .tool {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 0.8rem;
                        text-align: center;
                        width: 100%;
                        height: 5.3rem;
                        
                        border-radius: 0.8rem;

                        img {
                            max-width: 3.5rem;
                            margin-bottom: 0.3rem;
                        }
                        &:first-child {
                            grid-row: 1/2;
                            grid-column: 1/2;
                        }
                    }
                }
            }
        }
        
    }


    @include mobile{

        width: 90%;

        .info-grid{
            grid-template-columns: repeat(2, 1fr);
            height: auto;
            gap: 0.7rem;
            .info{
                width: 100%;
                aspect-ratio: 4 / 3;
                &:nth-child(3){
                    grid-row: 1/3;
                    grid-column: 1/3;
                   
                    .base3{
                        margin: 1rem;
                        padding: 0;
                        .boutMe{
                            height: fit-content;
                            margin-bottom: 1rem;
                            img{    
                                width: 90px;
                            }
                        }
                    }
                    
                }
                
                &:nth-child(6){
                    aspect-ratio: auto;
                    grid-column: 1/3;
                    grid-row: 5/6;
                }
                &:nth-child(7){
                    aspect-ratio: auto;
                    grid-row: 6/7;
                    grid-column: 1/3;
                }
            }

            .text-based{

                text-align: center;
                h2{
                    font-size: 1.8rem;
                }
            }
    
            .number-based{
                h2 {
                    font-size: 4rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }

            .cont{
                .tools-cont{
                    .tools{
                        .tool{
                            img{
                                max-width: 2.5rem;
                            }
                        }
                    }
                }
            }
            
        }
    }


    @include tablet{

        width: 90%;

        .info-grid{
            grid-template-columns: repeat(2, 1fr);
            height: auto;
            gap: 0.7rem;
            .info{
                width: 100%;
                aspect-ratio: 4 / 3;
                &:nth-child(3){
                    grid-row: 1/3;
                    grid-column: 1/3;
                }
                &:nth-child(6){
                    aspect-ratio: auto;
                    grid-column: 1/3;
                    grid-row: 5/6;
                }
                &:nth-child(7){
                    aspect-ratio: auto;
                    grid-row: 6/7;
                    grid-column: 1/3;
                }
            }

            .cont{
                .tools-cont{
                    .tools{
                        .tool{
                            img{
                                max-width: 2.5rem;
                            }
                        }
                    }
                }
            }
            
        }
    }
}